<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <br>
    <h2>Usuários</h2>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(users => { %>
                <tr>
                    <td><%= users.id %></td>
                    <td><%= users.email %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a class="btn btn-dark" href="/admin/users/create">Criar novo usuário</a>
</div>

<%- include ('../../partials/footer.ejs') %>